.label-text{
  font-size: 14px;
  color: #686767;
}

.default-text{
  font-size: 16px;
  color: #fff;
}

.small-text{
  font-size: 14px;
  color:#fff;
}

.large-text{
  font-size: 18px;
  color: #fff;
}

.title-text{
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}


.flex-center{
  display: flex;
  align-items: center;
}

/* 修改全局样式 */
.el-input__wrapper {
  background-color: #1a1a1a !important;
}

.el-form-item__label , .el-form-item__content {
  font-size: 16px !important;
}


html.dark{
  --el-text-color-regular:#fff !important;
}

.el-image-viewer__wrapper .el-icon{
  --color:#ff4655 !important;
}

body{
  --font-size:19px !important;
  --el-font-size-base: 16px;
  font-family: 'Arial';
}





